@model FirstMVCApp.Models.Product

@{
    ViewData["Title"] = "Product Management";
}
<div class="container">
    @* Tag Helper - a new tag that is supported from ASP.NET 3.1 onwards *@
    <partial name="ProductHeader.cshtml" />
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card shadow m-auto mt-5">
                <div class="card-header bg-warning bg-gradient d-flex">
                    <div class="flex-grow-1">
                        <h2 class="text-dark text-center">Update Product</h2>
                    </div>
                    <div>
                        <a href="/products/addnew" class="btn btn-outline-primary">Add New</a>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <partial name="ProductInputPartialView.cshtml" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}