@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="card shadow w-50 m-auto p-2">
    <div class="card-header bg-primary bg-opacity-75">
        <h1 class="text-center text-capitalize">Contact Us</h1>
    </div>
    <div class="card-body">
        <p class="fs-3 text-success">From ViewData: <span class="fw-bold">@ViewData["Message"]</span></p>
        <p class="fs-3 text-warning">From ViewBag: <span class="fw-bold">@ViewBag.SecondMessage</span></p>
        <p class="fs-3 text-primary">From TempData: <span class="fw-bold">@TempData["Message"]</span></p>
        <p class="fs-3 text-danger">From Session: <span class="fw-bold">@Context.Session.GetString("Message")</span></p>
    </div>
    <div class="card-footer text-center">
        <a asp-controller="StateManager" asp-action="ContactUs" class="btn btn-lg btn-info">Reload</a>
        <a asp-controller="StateManager" asp-action="AboutUs" asp-route-id="0" class="btn btn-lg btn-success">Redirect to AboutUs</a>
    </div>
</div>

