
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="row bg-gradient bg-success g-2">
    <div class="col-12">
        <h2 class="text-center text-light">@ViewData["Title"]</h2>
    </div>
</div>