@model FirstMVCApp.Models.Customer

@{
    ViewData["Title"] = "Details of Customer";
}


<div class="container">
    @* Tag Helper - new tag that is supported from ASP.NET 3.1 onwards*@
    <partial name="CustomerHeader.cshtml" /> 
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card shadow m-auto mt-5">
                <div class="card-header bg-warning bg-gradient opacity-75 d-flex">
                    <div class="flex-grow-1">
                        <h2 class="text-dark text-center">Customer Details</h2>
                    </div>
                    <a href="/customers/addnew" class="btn btn-outline-dark">Add New</a>
                </div>
                <div class="card-body">
                    <div class="mt-3 text-center">
                        <dl>
                            <dt>Company Name</dt>
                            <dd>@Model.CompanyName</dd>
                            <dt>Contact Name</dt>
                            <dd>@Model.ContactName</dd>
                            <dt>City</dt>
                            <dd>@Model.City</dd>
                            <dt>Country</dt>
                            <dd>@Model.Country</dd>
                        </dl>
                        <a href="/customers/List" class="btn btn-lg btn-secondary">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
