@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="alert alert-danger p-5">
    <div class="display-1">Resource not found</div>
    <div class="load">
        The resource you are looking for does not exist
    </div>
</div>